*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

venv
env
.idea
*.pyc
.coverage
__pycache__/
build
dist
*.spec
coverage.xml
*.egg-info
.cache
pytest-env
*.zip

# Avoid documentation
auto-docs/build
auto-docs/source/*.rst
!auto-docs/source/index.rst
__pycache__
